<!DOCTYPE html>
<html>
<head>
    <title>Set Limits</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<a href="/dashboard" class="admin-btn">Back</a>

<div class="container">
    <div class="card">
        <h2>Set Limits</h2>

        <form method="POST">
            <input type="number" name="daily" placeholder="Daily Limit" required>
            <input type="number" name="monthly" placeholder="Monthly Limit" required>

            <button type="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>